
  .dashMargin{
       padding-top: 20px;
   }

   .navbar-line{
    height: 4px;
    background-color: #FFD200;

}

   .footer-background{
     background-color: #2C3E50;
     /*#0063A4;*/
     height: 10%;
     color: white;
   }

   .text-custom{
     font-family: Courier New, Courier, monospace
   }

.img-style{
  width:20%;
  height:auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.test-round{
    border-radius:120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0063A4;
}

  .caption {
      position: absolute;
      text-align: center;
      color: white;   
      font-size: 20px;
      top: 22%;
      left: 0;
      width: 100%;
  }

@media only screen and (min-width: 800px){
  .caption {
      position: absolute;
      text-align: center;
      color: white;   
      font-size: 20px;
      top: 25%;
      left: 0;
      width: 100%;
  }
}

@media only screen and (min-width: 1000px){
  .caption {
      position: absolute;
      text-align: center;
      color: white;   
      font-size: 20px;
      top: 30%;
      left: 0;
      width: 100%;
  }
}

@media only screen and (min-width: 1150px){
  .caption {
      position: absolute;
      text-align: center;
      color: white;   
      font-size: 20px;
      top: 35%;
      left: 0;
      width: 100%;
  }
}

@media only screen and (min-width: 1400px){

  .caption {
      position: absolute;
      text-align: center;
      color: white;   
      font-size: 20px;
      top: 40%;
      left: 0;
      width: 100%;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

   .col-lg-3,
   .col-md-4,
   .col-sm-6,
   .col-xs-12
  {
        border: 2px solid;
        border-color: #8db4e2;
   }

   .container-fluid{
    color: #1f497d;
   }

   .color-blue{
    background-color: #d5e5ff;
   }

    .color-pink{
    background-color: #fff0ff;
   }

   .color-lgblue{
    background-color: #ddeeff;
   }

   .color-dkpink{
    background-color: #f2dcec;
   }

   .color-yellow{
    background-color: #ffffcc;
    border-bottom: 2px solid;
    border-color: #8db4e2;
   }
   .color-yellow-total{
    background-color: #ffffcc;
    border-top: 1px solid;
    border-color: #8db4e2;
    font-size: 16px;
    font-weight: bold;
   }

  .quarter{
    position: absolute;
    left: 10px;
    bottom: 2px;
    font-size: 20px;
    font-weight: bold;
   }

  .units{
    padding-top: 44px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 6px;
   }

   .bot-margin{
     border-bottom: 2px solid; 
     border-color: #8db4e2;
   }

   .vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    font-size: 12px;
    font-weight: bold;
    padding-top: 1px;
    height: 60px;
    margin: 0px;
    
    }

    .no-margin{
      padding: 0;
      margin: 0;
      
    }

    .option-h{
      height: 68px;  
    }

    .nav-h{
      height: 70px;
    
    }

    .btn-default{
        height: 22px;
    }

    .col-xs-6{
        margin: 0px;
        padding: 0px;
    }

    .btn{
        border-radius: 0px;
        border-top: none;
        border-bottom-color: #8db4e2;
        border-left-color: #8db4e2;
        border-right-color: #8db4e2;
    }

    .btn-test{
        border-bottom: none;
    }



    @media only screen and (max-width: 768px){   
      .img-style{
        width:20%;
        height:auto;
        /*padding-top: 16%;*/
      }

 
    }

        @media only screen and (max-width: 480px){  
      .img-style{
        width:35%;
        height:auto;
        
      }
    }