


<div>
  <img src="../../../assets/uci_mymap.PNG" width="100%" height ="auto" class="img-fluid" alt="Responsive image">
    <!--<div class="caption" *ngIf ="!mobileWidth()">
        <button type="button" class="test-round btn-primary"><a routerLink = "/login">Map your Major courses</a></button>
    </div>-->
</div>
  <div class="navbar-line"> 


  </div>
<div class="footer-background">
    <img src="../../../assets/UCI_Anteaters_logo.png"  class="img-responsive center-block img-style" alt="Responsive image">
  <!--<p class="text-right text-custom">
    Alex Zarate Productions
  </p>-->
  
</div>
