
<div class="container center_div">
<h2 class="page-header">Join myMajorPlanner</h2>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Registration Form -->
<form [formGroup]="form"(submit)="onRegisterSubmit()" class="fix-form">

  <!-- Username Input -->
  <!--<div class="form-group">
    <label for="username">Username</label>
    <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty)
    || (!usernameValid && form.controls.username.dirty), 
      'has-success': !form.controls.username.errors && usernameValid}">
      <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" 
      formControlName="username" (blur) = "checkUsername()" />
 
      <ul class="help-block">
        <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
        <li *ngIf="(form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength) 
                    && form.controls.username.dirty"> Minimum characters: 3, Maximun characters: 15</li> 
        <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty"> 
          Username must not have special characters</li>
          <li *ngIf="usernameMessage">{{usernameMessage}} </li>  
      </ul>
    </div>
  </div>-->

 


    <!-- Firstname Input -->
 
        <div class="form-group">
            <div [ngClass]="{'has-error': (form.controls.firstname.errors && form.controls.firstname.dirty)
             || (!firstnameValid && form.controls.firstname.dirty), 
            'has-success': !form.controls.firstname.errors}">
            <input type="text" name="firstname" class="form-control" autocomplete="off" placeholder="First Name" 
            formControlName="firstname" />
            <ul class="help-block">
              <!--? means if only the . what follows exists, then proceed-->
              <li *ngIf="form.controls.firstname.errors?.required && form.controls.firstname.dirty">This field is required</li> 
              <li *ngIf="(form.controls.firstname.errors?.minlength || form.controls.firstname.errors?.maxlength) 
                          && form.controls.firstname.dirty"> Minimum characters: 2, Maximun characters: 30</li>         
            </ul>
            </div>
        </div>


        <div class="form-group">
            <div [ngClass]="{'has-error': (form.controls.lastname.errors && form.controls.lastname.dirty)
             || (!lastnameValid && form.controls.lastname.dirty), 
            'has-success': !form.controls.lastname.errors}">
            <input type="text" name="lastname" class="form-control" autocomplete="off" placeholder="Last Name" 
            formControlName="lastname"/>
            <ul class="help-block">
              <!--? means if only the . what follows exists, then proceed-->
              <li *ngIf="form.controls.lastname.errors?.required && form.controls.lastname.dirty">This field is required</li> 
              <li *ngIf="(form.controls.lastname.errors?.minlength || form.controls.lastname.errors?.maxlength) 
                          && form.controls.lastname.dirty"> Minimum characters: 2, Maximun characters: 30</li>         
            </ul>
            </div>
        </div>
     


  <!-- Email Input -->

  <div class="form-group">
    
    <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) 
    || (!emailValid && form.controls.email.dirty), 
      'has-success': !form.controls.email.errors && emailValid}">
      <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email"
      formControlName="email" (blur) = "checkEmail()"/>
      <!--Validation-->
      <ul class="help-block">
        <!--? means if only the . what follows exists, then proceed-->
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li> 
        <li *ngIf="(form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength) 
                    && form.controls.email.dirty"> Minimum characters: 8, Maximun characters: 30</li> 
        <li *ngIf= "form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</li> 
        <li *ngIf="emailMessage">{{emailMessage}} </li>           
      </ul>
    </div>
  </div>

  <!-- Password Input -->
  <div class="form-group">
    <!--<label for="password"></label>-->
    <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 
      'has-success': !form.controls.password.errors}">
      <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password"
      formControlName="password"/>
      <ul class="help-block">
        <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
        <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty"> 
          Password must have at least one uppercase, lowercase, and number</li>
    
      </ul>
    </div>
  </div>

  <!-- Confirm Password Input -->
  <div class="form-group">
    <!--<label for="confirm"></label>-->
    <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) ||
       (form.errors?.matchingPasswords && form.controls.confirm.dirty), 
      'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
      <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password"
      formControlName="confirm" />
      <ul class="help-block">
        <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li> 
        <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Passwords do not match</li>
      </ul>
    </div>
  </div>

  <!-- Submit Input button-->
  <input [disabled]="!form.valid || processing || !emailValid" type="submit" class="btn btn-primary btn-fix" value="Sign up" />
</form>

<!-- Registration Form /-->

<!--<p>Username: {{form.controls.username.value}}</p>-->
<!--<p>Email: {{form.controls.email.value}}</p>
<p>Password: {{form.controls.password.value}}</p>
<p>First Name: {{form.controls.firstname.value}}</p>
<p>Last Name: {{form.controls.lastname.value}}</p>-->
</div>


