.btn-fix{
    /*max-width: 700px;*/
    width: 100%;
    /*min-width: 300px;*/
    border-radius: 30px;
}



.fix-form{
    max-width: 500px;
     
}

@media only screen and (min-width: 520px){
    .container{
        padding-left: 17%;
        padding-right: 17%;
    }

} 

@media only screen and (min-width: 992px){
    .container{
        padding-left: 25%;
        padding-right: 25%;
    }

} 








