.navbar-line{
    height: 4px;
    background-color: #FFD200;

}


.navbar-custom {
    background-color: #2C3E50;
    /*#0063A4;*/
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color:#1A242F;
    /*#005994;*/
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color: #1A242F;
    
    /*#005994;*/
}

.navbar-brand{
    font-size: 20px;
}

.test{
    padding-top: 8px;
    
    padding-right: 20px;
}

.transparent{
    background-color: transparent;
}

.glyphicon{
    padding-bottom: 18px;
    font-size: 18px;
}

.margin-bot{
    margin-bottom: -20px;
}

.margin-right{
    margin-right: -4px;
}

.margin-right2{
    margin-right: -18px;
}

.margin-left{
    margin-left: 10px;
}

.margin-left2{
    margin-left: 30px;
}

.caret{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    padding-top: -6px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

.padding-all{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 200px;
    margin-left: 0px;
}

.navbar{
    margin-bottom: 0px;
}

@media only screen and (min-width: 992px){
    .container{
        padding-left: 13%;
        padding-right: 13%;
    }
} 

@media only screen and (min-width: 1200px){
    .container{
        padding-left: 18%;
        padding-right: 18%;
    }
}




 @media only screen and (max-width: 500px){
    .glyphicon{
        padding-bottom: 18px;
        padding-top: 18px;
        font-size: 18px;
    }

 }