<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--It links the button with a page-->
      <a class="navbar-brand" routerLink="/">Major Planner</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--It keeps the current page active-->
        <li *ngIf ="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"> 
             <a routerLink="/dashboard"> Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf ="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/profile"> Profile </a></li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf ="authService.loggedIn()" ><a href="#" (click)="onLogoutClick()">Logout</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li *ngIf ="!authService.loggedIn()" ><a routerLink = "/login">Login</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf ="!authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/register">Register</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div class="navbar-line"> 

  </div>
</nav>